{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Supprimer le projet</h1>

    

        <ul class="record_actions">
   
   
   
        <form action="{{ path('projetrdi_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    
</ul>
{% endblock %}
